*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

